<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Choosmart</title>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">

</head>

<body>
    <div class="container-fluid">
        <!-- header -->
        <div class="row header">
            <div class="col-md-3 col-xs-3 col-sm-3">
                <div class="row" style="height:20px;">

                </div>
                <div class="row">
                    <img src="images/logo6.png " class="img-responsive" alt="logo ">

                </div>
            </div>
            <div class="form-group col-md-3 col-xs-4 col-sm-4 col-lg-5 search ">
                <div class="row " style="height: 25px; "></div>
                <div class="row ">
                    <div class="input-group ">
                        <input type="text " class="form-control " placeholder="search for mobiles or accessories ">
                        <div class="input-group-btn ">
                            <button type="button " class="btn btn-success ">Search <span class="glyphicon glyphicon-search "></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-5 col-sm-5 ">
                <div class="row " style="height:20px; "></div>
                <div class="row " style="height: 30px; ">
                    <div class="col-md-5 col-lg-6 hidden-xs hidden-sm "></div>
                    <div class="col-md-7 col-lg-6 col-xs-12 col-sm-12 " style="float: right; ">
                        <p style="color: white; "> New to choosmart? <a href="# " class="sign ">Signin</a></p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-2 hidden-xs hidden-sm "></div>

                    <div class="col-md-1 col-xs-1 col-sm-2 ">
                        <span class="glyphicon glyphicon-shopping-cart " style="color: white; "></span>
                    </div>

                    <div class="col-md-1 hidden-xs hidden-sm "></div>

                    <div class="col-md-1 col-xs-1 col-sm-2 ">
                        <span class="glyphicon glyphicon-user " style="color: white; "></span>
                    </div>

                    <div class="col-md-1 hidden-xs hidden-sm "></div>

                    <div class="col-md-6 col-xs-8 col-sm-5 ">
                        <a href="# " class="sign ">Login / Signup</a>
                    </div>

                </div>
            </div>
        </div>
        <!-- header -->

        <!-- Carousel -->
        <div class="row ">

            <div id="carouselMobile" class="carousel slide " data-ride="carousel" data-interval="3000" data-wrap="true">
                <ol class="carousel-indicators ">
                    <li data-target="#carouselMobile" data-slide-to="0 " class="active "></li>
                    <li data-target="#carouselMobile" data-slide-to="1 "></li>
                    <li data-target="#carouselMobile" data-slide-to="2 "></li>
                </ol>

                <div class="carousel-inner ">
                    <div class="item active ">
                        <a href="# "><img src="images/c1.jpg " style="width:100%;height:200px; " /></a>
                        <div class="carousel-caption" style="position: absolute;left:-300px;">
                            <h1 class="display-heading">choosmart</h1>
                            <p style="color:blanchedalmond">Find the best out from your choice</p>
                            <p>
                                <a class="btn btn-md" style="background-color: lavender;font-weight: bolder;">Join Us</a>
                            </p>
                        </div>
                    </div>
                    <div class="item ">
                        <a href="# "><img src="images/c2.jpg " class="img-responsive" style="width:100%;height:200px; " /></a>
                    </div>
                    <div class="item ">
                        <a href="# "><img src="images/c3.jpg " style="width:100%;height:200px; " /></a>
                        <div class="carousel-caption">
                            <h3 class="display-heading">Accessories</h3>
                            <p style="color:blanchedalmond">Take out that matches your mobiles</p>
                            <p>
                                <a class="btn btn-md" style="background-color: lavender;font-weight: bolder;">Shop now</a>
                            </p>
                        </div>
                    </div>
                </div>

                <a class="left carousel-control" href="#carouselMobile" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left "></span>
                </a>
                <a class="right carousel-control" href="#carouselMobile" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right "></span>
                </a>
            </div>
        </div>
        <!-- Carousel -->


        <!-- navbar -->
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </button>
                </div>
                <div class="navbar-collapse collpase in">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Mobiles</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Exclusive Offers</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- navbar -->


        <!-- Heading -->
        <div class="row " style="background-color: rgb(226, 221, 221); margin-top: -20px;">
            <div class="col-md-12 " style="padding: 30px; ">
                <h1 class="text-center " style="padding-bottom: 20px; ">Welcome to Choosmart</h1>
                <p class="text-center text-muted " style="padding-bottom: 20px; ">A website[1] or web site[2] is a collection of related network web resources, <br>such as web pages, multimedia content, which are typically identified with a common domain name,<br> and published on at least one web server. Notable examples
                    are wikipedia.org, google.com, and amazon.com.</p>
                <div class="row ">
                    <div class="col-md-3 hidden-xs hidden-sm "></div>
                    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 ">
                        <button class="btnLatest btn ">Latest Mobiles</button>
                        <button class="btnUpcoming btn ">Upcoming Mobiles</button>
                        <button class="btnIphone btn ">Iphones</button>
                    </div>
                    <div class="col-md-3 hidden-xs hidden-sm "></div>
                </div>
            </div>
        </div>
        <!-- Heading -->


        <!-- Accessories -->
        <div class="row " style="background-color: rgb(226, 221, 221); ">
            <h2 class="text-center " style="font-weight: bold;color: black; ">Best Accessories suiting your mobile phones</h2>
            <div class="col-md-1 "></div>
            <div class="col-md-2 " style="margin-right:70px; ">
                <img src="images/acc1.jpg " class="img-responsive " alt=" ">
            </div>
            <div class="col-md-2 " style="margin-right:70px; ">
                <img src="images/acc2.jpg " class="img-responsive " alt=" ">

            </div>
            <div class="col-md-2 " style="margin-right:70px; ">
                <img src="images/acc3.jpg " class="img-responsive " alt=" ">

            </div>
            <div class="col-md-2 " style="margin-right:70px; ">
                <img src="images/acc4.jpg " class="img-responsive " alt=" ">

            </div>
            <div class="col-md-1 "></div>
        </div>
        <!-- Accessories -->
        <div class="row space "></div>
        <!-- brand -->
        <div class="row brands " id="brand1 ">
            <h2 class="text-center " style="font-weight: bold;color: black; ">Top Brands</h2>
            <div class="col-md-1 "></div>
            <div class="col-md-2 ">
                <div class="circleBrand ">
                    <img src="images/oppo.png " class="img-responsive " style="position: relative;top:70px;left:10px;width: 90%; " alt=" ">
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="circleBrand ">
                    <img src="images/samsung.png " class="img-responsive " style="position: relative;top:50px;left:10px;width: 90%; " alt=" ">
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="circleBrand ">
                    <img src="images/apple.png " class="img-responsive " style="position: relative;top:30px;left:40px; " alt=" ">

                </div>
            </div>
            <div class="col-md-2 ">
                <div class="circleBrand ">
                    <img src="images/lg.png " class="img-responsive " style="position: relative;top:50px;left:10px;width: 90%; " alt=" ">

                </div>
            </div>
            <div class="col-md-2 ">
                <div class="circleBrand ">
                    <img src="images/mi.png " class="img-responsive " style="position: relative;top:50px;left:30px;width: 60%; " alt=" ">

                </div>
            </div>
            <div class="col-md-1 ">
                <a class=" " id="brand1Prev " href="#brands ">
                    <span class="glyphicon glyphicon-chevron-left "></span>
                </a>
                <a class=" " id="brand1Next " href="#brands ">
                    <span class="glyphicon glyphicon-chevron-right "></span>
                </a>
            </div>

        </div>
        <!-- brand -->
        <!-- brand2 -->
        <div class="row brands " style="display: none; " id="brand2 ">
            <h2 class="text-center " style="font-weight: bold;color: black; ">Top Brands</h2>

            <div class="col-md-1 "></div>
            <div class="col-md-2 ">
                <div class="circleBrand ">
                    <img src="images/lenovo.png " class="img-responsive " style="position: relative;top:60px;left:10px;width: 90%; " alt=" ">
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="circleBrand ">
                    <img src="images/nokia.png " class="img-responsive " style="position: relative;top:60px;left:10px;width: 90%; " alt=" ">
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="circleBrand ">
                    <img src="images/realme.png " class="img-responsive " style="position: relative;top:60px;left:20px;width: 80%; " alt=" ">

                </div>
            </div>
            <div class="col-md-2 ">
                <div class="circleBrand ">
                    <img src="images/motorola.png " class="img-responsive " style="position: relative;top:30px;left:25px;width: 70%; " alt=" ">

                </div>
            </div>
            <div class="col-md-2 ">
                <div class="circleBrand ">
                    <img src="images/oneplus.png " class="img-responsive " style="position: relative;top:20px;left:20px;width: 70%; " alt=" ">
                </div>
            </div>
            <div class="col-md-1 ">
                <a class=" " href="#brands " id="brand2Prev ">
                    <span class="glyphicon glyphicon-chevron-left "></span>
                </a>
                <a class=" " href="#brands " id="brand2Next ">
                    <span class="glyphicon glyphicon-chevron-right "></span>
                </a>
            </div>

        </div>
        <!-- brnd2 -->

        <!-- brand3 -->
        <div class="row brands " style="display: none; " id="brand3 ">
            <h2 class="text-center " style="font-weight: bold;color: black; ">Top Brands</h2>

            <div class="col-md-1 "></div>
            <div class="col-md-2 ">
                <div class="circleBrand ">
                    <img src="images/vivo.png " class="img-responsive " style="position: relative;top:50px;left:20px;width: 70%; " alt=" ">
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="circleBrand ">
                    <img src="images/asus.png " class="img-responsive " style="position: relative;top:70px;left:20px;width: 70%; " alt=" ">
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="circleBrand ">
                    <img src="images/berry.png " class="img-responsive " style="position: relative;top:50px;left:30px;width: 70%; " alt=" ">

                </div>
            </div>
            <div class="col-md-2 ">
                <div class="circleBrand ">
                    <img src="images/huwai.png " class="img-responsive " style="position: relative;top:30px;left:30px;width: 60%; " alt=" ">

                </div>
            </div>
            <div class="col-md-2 ">
                <div class="circleBrand ">
                    <img src="images/honor.png " class="img-responsive " style="position: relative;top:60px;left:30px;width: 70%; " alt=" ">

                </div>
            </div>
            <div class="col-md-1 ">
                <a class=" " href="#brands " id="brand3Prev ">
                    <span class="glyphicon glyphicon-chevron-left "></span>
                </a>
                <a class=" " href="#brands " id="brand3Next ">
                    <span class="glyphicon glyphicon-chevron-right "></span>
                </a>
            </div>

        </div>
        <!-- brand3 -->
        <div class="row space "></div>

        <!-- prices -->
        <div class="row priceDiv ">
            <h2 class="text-center " style="font-weight: bold;color: black; ">Shop By Price</h2>
            <div class="col-md-1 "></div>
            <div class="col-md-2 ">
                <a href=" " class="btn circlePrice ">Below <span style="color: rgb(84, 84, 238);font-weight: bolder; "> Rs 50000</span></a>

            </div>
            <div class="col-md-2 ">
                <a href=" " class="btn circlePrice "><span style="color: rgb(84, 84, 238);font-weight: bolder; ">Rs 50000 </span>to <span style="color: rgb(84, 84, 238);font-weight: bolder; ">Rs 20000</span></a>

            </div>
            <div class="col-md-2 ">
                <a href=" " class="btn circlePrice "><span style="color: rgb(84, 84, 238);font-weight: bolder; ">Rs 20000</span> to <span style="color: rgb(84, 84, 238);font-weight: bolder; ">Rs 30000</span></a>

            </div>
            <div class="col-md-2 ">
                <a href=" " class="btn circlePrice "><span style="color: rgb(84, 84, 238);font-weight: bolder; ">Rs 30000</span> to <span style="color: rgb(84, 84, 238);font-weight: bolder; ">Rs 50000</span></a>

            </div>
            <div class="col-md-2 ">
                <a href=" " class="btn circlePrice ">Above <span style="color: rgb(84, 84, 238);font-weight: bolder; ">Rs 50000</span></a>
            </div>
            <div class="col-md-1 "></div>
        </div>
        <!-- prices -->
        <div class="row space "></div>

        <!-- Offers -->
        <div class="row offers ">
            <h2 class="text-center " style="font-weight: bold;color: black; ">Best Offers</h2>
            <div class="row ">
                <div class="col-md-1 "></div>
                <div class="col-md-2 offerMobile ">
                    <img src="images/bg6.jpg " class="img-responsive img-rounded " style="height: 200px;position: relative; top:10px; " alt=" ">
                    <hr class="styleHr ">
                </div>
                <div class="col-md-2 offerMobile ">
                    <img src=" " alt=" ">
                    <hr class="styleHr ">
                </div>
                <div class="col-md-2 offerMobile ">
                    <img src=" " alt=" ">
                    <hr class="styleHr ">
                </div>
                <div class="col-md-2 offerMobile ">
                    <img src=" " alt=" ">
                    <hr class="styleHr ">
                </div>
                <div class="col-md-2 offerMobile ">
                    <img src=" " alt=" ">
                    <hr class="styleHr ">
                </div>
                <div class="col-md-1 "></div>
            </div>
            <div class="row ">
                <div class="col-md-1 "></div>
                <div class="col-md-2 "></div>
            </div>
            <div class="col-md-2 ">
            </div>
            <div class="col-md-2 ">
            </div>
            <div class="col-md-2 ">
            </div>
            <div class="col-md-2 ">
            </div>
            <div class="col-md-1 "></div>
        </div>

        <!-- Offers -->
        <div class="row space "></div>

        <!-- footers -->
        <div class="row footer ">
            <div class="col-md-12 ">
                <center>
                    <p>Copyright<span class="glyphicon glyphicon-copyright-mark "></span> Choosmart</p>
                </center>
            </div>
        </div>
        <!-- footers -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
    <script src="bootstrap/js/bootstrap.min.js "></script>

</body>
<script>
    $(document).ready(function() {
        $('#brand1Next').click(function() {
            $('#brand1').hide();
            $("#brand2 ").show();

        });
        $('#brand1Prev').click(function() {
            $('#brand1').hide();
            $("#brand3 ").show();

        });
        $('#brand2Next').click(function() {
            $('#brand2').hide();
            $("#brand3 ").show();

        });
        $('#brand2Prev').click(function() {
            $('#brand2').hide();
            $("#brand1 ").show();

        });
        $('#brand3Next').click(function() {
            $('#brand3').hide();
            $("#brand1 ").show();

        });
        $('#brand3Prev').click(function() {
            $('#brand3').hide();
            $("#brand2 ").show();

        });
    });
</script>

</html>