<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Choosmart</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
</head>

<body>
    <div class="col-md-4 xs-hidden col-lg-4 col-sm-4"></div>
    <div class="col-md-4 col-xs-12 col-lg-4 col-sm-6">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 loginBox">
                <div class="row">
                    <center><img src="images/logo4.png" alt="" class="img-responsive">

                        <h4 class="text-center">User Login</h4>
                        <hr style="border:1px solid red">
                </div>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control inputBox" id="username" placeholder="                                   Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control inputBox" id="password" placeholder="                                   Password">
                    </div>
                    <div class="form-group form-check">
                        <center><input type="checkbox" class="form-check-input" id="remember">
                            <label class="form-check-label" for="exampleCheck1">Remember Me</label></center>
                    </div>
                    <center><button type="submit" class="btn loginBtn">Login</button></center>
                    <center><span style="color:rgb(170, 170, 89);"> New to Choosmart? </span><a href="#">Register</a></center>
                    <center><a href="#">Forgot Password</a></center>
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-4 xs-hidden col-lg-4 col-sm-6"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
    <script src="bootstrap/js/bootstrap.min.js "></script>
</body>

</html>