<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>choosmart</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="css/mobiles.css">

</head>

<body>
    <!-- navbar -->
    <div class="row " style="height: 50px;z-index: 1;">

        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="images/logo6.png " class="img-responsive" alt="logo " style="position:absolute;left:40px;">

            </div>
            <div class="navbar-collapse collpase">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Mobiles</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Exclusive Offers</a></li>

                </ul>
            </div>
        </nav>
    </div>
    <!-- navbar -->
    <div class="row" style="background-color: rgb(208, 218, 218);">
        <div class="col-md-2">

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
                    <div class="row ">
                        <div class="col-md-11 mobileBox">

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
    <script src="bootstrap/js/bootstrap.min.js "></script>
</body>

</html>