<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>choosmart</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="css/mobiles.css">

</head>

<body>
    <!-- navbar -->
    <div class="row">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="images/logo6.png " class="img-responsive" alt="logo " style="position:absolute;left:40px;">
                <form action="" class="form-inline form-align">
                    <div class="form-group has-feedback">
                        <input type="text " placeholder="search for products" class="text-line">
                        <a href="#"><i class="glyphicon glyphicon-search form-control-feedback searchBtn"></i></a>
                    </div>
                </form>
            </div>
            <div class="navbar-collapse collpase in">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Mobiles</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Exclusive Offers</a></li>
                </ul>
            </div>
        </nav>

    </div>
    <!-- navbar -->


    <div class="row" style="background-color: rgb(208, 218, 218);padding-top: 40px;">

        <div class="row">
            <h3 class="text-center">Mobile Phones</h3>
            <h4 class="text-center">70 products</h4>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <label for="" style="background-color: white;">Smart Phones
                    <a href="#"><span class="glyphicon glyphicon-remove"></span></a></label>
                </div>
                <div class="col-md-2">
                    <label for="">Sort By:</label>
                    <select name="" id="slctSort">
                        <option value="0">Price Low to High</option>
                        <option value="1">Price High to Low</option>
                        <option value="2" selected>Popularity</option>
                        <option value="3">New Brand</option>

                    </select>
                </div>
                <div class="col-md-1"></div>

            </div>
        </div>

        <div class="row">

            <!-- filter -->
            <div class="col-md-2 col-sm-3 col-xs-3 col-lg-2 filter">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label class="panel-title">Filter</label>
                        <a href="#" style="color: red;float:right;">clear<span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <div class="panel-body">
                        <h4 style="font-weight: bolder;">Category</h4>
                        <p>Smart Phones</p>
                        <p>Iphones</p>
                        <p>Feature Phones</p>
                        <hr>
                        <h4 style="font-weight: bolder;">Brand</h4>
                        <p>Smart Phones</p>
                        <p>Iphones</p>
                        <p>Feature Phones</p>
                        <hr>
                        <h4 style="font-weight: bolder;">Price</h4>
                        <p>Smart Phones</p>
                        <p>Iphones</p>
                        <p>Feature Phones</p>
                        <hr>
                        <h4 style="font-weight: bolder;">Color</h4>
                        <p>Smart Phones</p>
                        <p>Iphones</p>
                        <p>Feature Phones</p>
                    </div>
                </div>
            </div>
            <!-- filter -->

            <!-- products -->
            <div class="col-md-8 col-lg-8 col-sm-7 col-xs-7 mobileContainer">
                <div class="row">
                    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 mobileBox">
                    </div>
                    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 mobileBox">
                        <img src="images/bg6.jpg" class="img-responsive" alt="" style="width:100%;height: 200px;">
                    </div>
                    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 mobileBox"></div>
                    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 mobileBox"></div>
                    <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 mobileBox"></div>

                </div>

            </div>
            <!-- products -->
        </div>
    </div>
    <!-- footers -->
    <div class="row footer ">
        <div class="col-md-12 ">
            <center>
                <p><span class="glyphicon glyphicon-copyright-mark "></span>2019 Choosmart | All Rights Reserved</p>
            </center>
        </div>
    </div>
    <!-- footers -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js "></script>
    <script src="bootstrap/js/bootstrap.min.js "></script>
</body>

</html>